<html xmlns="http://www.thymeleaf.org">

<head>
<title>Thymeleaf3</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<!-- <h1>Thymeleaf Test Page</h1> -->
<!-- <h1 th:text="${vo}">Thymeleaf Test Page</h1>
<div th:utext='${"<h3>"+vo.mid+"</h3>"}'></div>

<div th:utext='${"<h3>"+vo.mpw+"</h3>"}'></div>

<div th:utext='${"<h3>"+vo.mname+"</h3>"}'></div> -->

<table border="1" th:with="target='연주짱0'">
	<tr>
		<td>MID</td>
		<td>MNAME</td>
		<td>REGDATE</td>
	</tr>
	
	<tr th:each="member : ${list}">
		<td th:text="${member.mid}"></td>
		<td th:text="${member.mname == target ?'SECRET':member.mid}"></td>
		<td th:text="${#dates.format(member.regdate, 'yyyy-MM-dd')}"></td>
	</tr>
</table>
</body>
</html>